@model List<PessoaModel>
@{
    ViewData["Title"] = "Listagem de Pessoas";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Pessoa" asp-action="Create">Adicionar Nova Pessoa</a>
    </div>

    <h1 class="display-4">Listagem de Pessoas</h1>

<table class="table caption-top">
  <caption>Lista de Usuários</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">CPF</th>
      <th scope="col"></th> 
    </tr>
  </thead>
  <tbody>
    @if(Model != null && Model.Any())
    {
        foreach(PessoaModel pessoa in Model)
        { 
            <tr>
              <th scope="row">@pessoa.Id</th>
              <td>@pessoa.Nome</td>
              <td>@pessoa.Telefone</td>
              <td>@pessoa.CPF</td> 
              <td>
                <div class="btn-group" role="group">
                  <a role="button" class="btn btn-primary" asp-route-id="@pessoa.Id" asp-controller="Pessoa" asp-action="EditUser">Editar Usuário</a>
                  <a role="button" class="btn btn-danger" asp-route-id="@pessoa.Id" asp-controller="Pessoa" asp-action="DeletedConfirmed">Apagar Usuário</a> 
                </div> 
              </td>
            </tr> 
        }
    } 
  </tbody>
</table>
</div>


